@import '_mixins.sass'

@font-face
  font-family: SuisseIntl
  src: url('~/assets/fonts/SuisseIntl.woff') format('woff')
  src: url('~/assets/fonts/SuisseIntl.woff2') format('woff2')


@font-face
  font-family: SuisseIntl
  font-weight: 300
  src: url('~/assets/fonts/SuisseIntl-SemiBold.woff') format('woff')
  src: url('~/assets/fonts/SuisseIntl-SemiBold.woff2') format('woff2')

@font-face
  font-family: SuisseIntl
  font-weight: 100
  src: url('~/assets/fonts/SuisseIntl-Light.woff') format('woff')
  src: url('~/assets/fonts/SuisseIntl-Light.woff2') format('woff2')

html
  --black: #212121
  --white: #fff
  --green: #3ea962
  --green-light: #54bb76
  --red: #dc3428
  --blue-grey: #7a7aec

body
  color: var(--black)
  @include SuisseIntl
  font-weight: 100
  font-size: 14px

main
  padding-top: 60px

h1, h2, h3
  font-weight: 100
  text-transform: capitalize

h1
  margin: 50px auto 0
  @include maxWidth
  @include globalPadding
  font-size: 42px

h2
  margin-bottom: 34px
  font-size: 30px

h3
  font-size: 25px

a, .green
  color: var(--green)

a
  text-decoration: none
  text-transform: uppercase

.semibold
  font-weight: 300
